/* Палитра цветов 
#757575 основной цвет текста
#212121 второй цвет текста
#FFFFFF третий цвет текста, третий цвет фона
#000000 лого
#2196F3 акцент
rgba(255, 255, 255, 0.6) контакты футер
#F5F4FA основной цвет фона
#2F303A второй цвет фона
*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.notunderline {
  text-decoration: none;
}
.nolist {
  list-style: none;
}
.upcase {
  text-transform: uppercase;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.logo,
.logo-footer {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-first-part {
  color: var(--accent-color);
}
.site-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.site-contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.site-contacts .contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-contacts .contacts:hover,
.site-contacts .contacts:focus,
.address-footer .address-footer-contacts:hover,
.address-footer .address-footer-contacts:focus {
  color: var(--accent-color);
}
.hero {
  text-align: center;

  background-color: var(--secondary-background-color);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--tertiary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-order {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: 0 solid transparent;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.features-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-left: 0;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}
.team {
  background-color: var(--tertiary-background-color);
}
.worklist,
.teamlist {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
  padding-left: 0;
}
.work-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.teamlist li {
  border: 1 solid transparent;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.teamlist img {
  margin-bottom: 30px;
}
.member {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
footer {
  background-color: var(--secondary-background-color);
}
.logo-footer {
  margin-bottom: 20px;
  padding-top: 60px;

  color: var(--tertiary-text-color);
}
.address-footerlist {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 60px;
}
.address-footerlist li:not(:last-child) {
  margin-bottom: 9px;
}
.address-footer-str {
  color: var(--tertiary-text-color);
}
.address-footer-str,
.address-footer-contacts {
  font-size: 14px;
  line-height: 1.71;
}
.address-footer-contacts {
  color: var(--contacts-footer-color);
}

/* portfolio.html */
.border-bottom {
  border-bottom: 1px solid #ececec;
}
.filter {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 94px;
  padding-left: 0;
}
.filter-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: 0 solid transparent;
  min-width: 73px;

  background-color: var(--tertiary-background-color);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  border: 0 solid transparent;

  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
  padding-left: 0;
}
.projects-list li {
  border: 1px solid #eeeeee;
}
.projects-list img {
  margin-bottom: 30px;
}
.projects-list .title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 24px;

  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list .text {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 24px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
